html
  head
    title Controls
    link(rel="stylesheet", href="/controls.css")
  body(class="team-"+team)
    button(class="down-button") -
    button(class="reset-button") Reset
    button(class="up-button") +
    script(src="/index.js")
