.team-a {
	background-color: blue;
}

.team-b {
	background-color: red;
}

body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    margin: 0;
}

.up-button,
.down-button {
    flex-basis: 40%;
    height: 100%;
    font-size: 8rem;
}

.reset-button {
    padding: 20px;
}

button {
    border: 0;
}